<!-- @format -->

<template>
  <div id="game">
    <Overview />
    <Upgrades />
  </div>
</template>

<script>
import Overview from "./components/Overview.vue";
import Upgrades from "./components/Upgrades.vue";

export default {
  name: "App",
  components: {
    Overview,
    Upgrades,
  },
  methods: {
    coding() {
      this.$store.commit("incrementBytes", this.$store.state.bpk);
    },
    loop() {
      //GameLOOP
      this.$store.commit("bytesPerSecond");
      this.levelManager();
      requestAnimationFrame(this.loop);
    },
    levelManager() {
      if (this.$store.getters.bytesUntilLevelUp <= 0) {
        this.$store.commit("levelUp");
      }
      // console.log("FPS");
    },
  },
  created() {
    this.loop();
    window.addEventListener("keypress", this.coding);
  },
  unmounted() {
    window.removeEventListener("keypress", this.coding);
  },
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "monserrat", sans-serif;
}
</style>
